<main>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= render 'book/list', book: @booknew %>
      <div class="col-md-8">
        <h1>Book detail</h1>
        <table class="table">
          <tbody>
              <tr>
                <td>
                  <div>
                    <%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image_user.jpg" %></br>
                    <a href="book/detail"><%= @book.user.name %></a>
                  </div>
                </td>
                <td><a href="book/detail"><%= @book.title %></a></td>
                <td><%= @book.body %></td>
                <td><%= link_to 'Edit', edit_book_path(book.id) %></td>
                <td><%= link_to "Destroy", book_path(book.id), method: :delete, data: { confirm: "Are you sure?"} %></td>
                <!--edit_book_path(@book)-->
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
